/* reset */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* impostazioni generali */

body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: darkgray;
}

ul {
    padding: 1rem 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 48%;
}

button {
    background: #fff;
    color: black;
    font-family: "Roboto", sans-serif;
    border: .5rem solid transparent;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

header {
    background: no-repeat #255EE9;
    background-size: cover;
}

main {
    color: black;
}

.bg-star {
    background-image: url("../img/stars.svg");
    background-size: contain;
    padding: 1rem 0rem 1.5rem 0rem;
    margin: 0 36rem;
    background-position: center;
}

footer {
    background-color: #23272a;
}

hr {
    border: 1px solid #4f5d8c;
    border-radius: 1rem;
    margin: 1rem 0;
}

footer section:first-of-type>div:first-of-type {
    display: flex;
    align-items: center;
}

footer  h2 {
    color: #7289da;
}

/* impostazioni classe */

.padding-10rem {
    padding: 1rem 10rem 0 10rem;
}

.padding-bottom-1rem {
    padding-bottom: 1rem;
}

.padding-button-footer {
    padding-bottom: 3rem;

}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.flex{
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.bg-white {
    background: white;
}

.bg-gray {
    background: #f5f5f5;
}

.bg-dark {
    background: #4f5d8c;
}

.bg-black {
    background: black;
}

.bg-7289da {
    background: #7289da;
}

.flex-justify-align-center {
    justify-content: center;
    align-items: center;
}

.size-button {
    padding: 0 1rem;
}

.size-button-footer {
    padding: 0 .5rem .3rem .5rem;
}

.flex-column {
    text-align: center;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* impostazioni id */

#ita-flag-footer {
    width: 2rem;
}

#icone-social {
    padding-right: 3rem;
}
